{% extends '_page.html.twig' %}

{% block title %}Page 1{% endblock %}

{% block content %}

<div class="container">

    <h1>Page 1</h1>

    <img src="{{ asset('build/images/flower.svg') }}" alt="Flower" width="322" height="361" >

    <div class="row">
        <div class="col g-3">
            <div {{ stimulus_controller('hello') }}>
                ...
            </div>
        </div>
        <div class="col g-3">
            <div {{ stimulus_controller('clicker', { 'startCount': 55 }) }}>
                <button class="btn btn-info"
                    {{ stimulus_action('clicker', 'increment', 'click') }}
                    {{ stimulus_target('clicker', 'clickBtn') }}
                >
                    Click
                </button>
                I have been clicked
                <span {{ stimulus_target('clicker', 'count') }}>0</span>
                times!
            </div>
        </div>
    </div>
</div>

{% endblock %}
